@model IEnumerable<mozgva.Models.User>
@{
    ViewBag.Title = "Главная";
}
<style>
    h1, h2, h3 {
        color: rgb(59 31 145);
        margin-right: 15px
    }
</style>

<div class="row">
    <div class="col-7"><span class="flow-text">7-columns (offset-by-7)</span>
    
        </div>
    <div class="col-7"><span class="flow-text">7-columns (offset-by-7)</span>
        
    </div>
</div>
