@model IEnumerable<mozgva.Models.User>
@{
    ViewBag.Title = "Главная";
}
<style>
    h1, h2, h3 {
        color: rgb(59 31 145);
        margin-right: 15px
    }
</style>
<center>
    <h1>Добро пожаловать</h1>
</center>