@model IEnumerable<mozgva.Models.User>
@{
    ViewBag.Title = "Личный Кабинет";
}
<br />
<div id="app" class="container">
    <h5  class="d-flex justify-content-left">
        Личный кабинет
    </h5>
    <br />
    <nav class="navbar navbar-expand-sm  navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item m-1">
                <router-link class="btn btn-light btn-outline-primary"
                             to="/user">Персональные данные</router-link>
            </li>
            <li class="nav-item m-1">
                <router-link class="btn btn-light btn-outline-primary"
                             to="/my-games">Мои игры</router-link>
            </li>
            <li class="nav-item m-1">
                <router-link class="btn btn-light btn-outline-primary"
                             to="/gift-card">Подарочные сертификаты</router-link>
            </li>

        </ul>
    </nav>
    <router-view></router-view>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

<script src="~/vue/LichnKab/games.js"></script>
<script src="~/vue/LichnKab/user.js"></script>
<script src="~/vue/LichnKab/giftCard.js"></script>
<script src="~/vue/LichnKab/variables.js"></script>
<script src="~/vue/LichnKab/app.js"></script>
