@using System.Security.Claims;
@{
    var idd = User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="icon" href="https://psv4.userapi.com/c536436/u224929404/docs/d3/29fada1efcf6/logotip20.png?extra=-hUeGbW4zUWRnyND-GuGlH3BZTQuJHddmT48hzio_R9zLnvyjugQ8z3qqNpT4dmGn6MpJCS38h-eesfLn0nbvW8gNsmB4poNj1zBEM1W9wAZWwJl-pkS4aLNSXC_rCyDayslsoKfeATFmI4K-xyYcDYH" />
    <script src="https://kit.fontawesome.com/9a4928363c.js" crossorigin="anonymous"></script>
    <script></script>
    <style>
        body {
            font-size: 15px;
            background: url("../../Photo/fon.jpg");
        }
        ul#nav-mobile.right.hide-on-med-and-down{
        width: auto;
        height: 60px;
        }

        .no_autorize {
            position: absolute;
            left: 50%;
            margin-left: -40%;
            width: 80%;
            background: white;
        }
        nav#header{
            background-color: #1b6ec2;
        }
    </style>
</head>

<body>
<header>
    <nav id="header">
        <div class="container">
            <div class="nav-wrapper">
                <a class="brand-logo" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form method="post" asp-controller="Account" asp-action="Logout">
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="LichnKab">
                                    <i class="fa fa-user"></i>
                                </a>
                            </li>
                            <li>
                                <label class="upload-file__label" for="upload-file__input_output">
                                    <i class="fas fa-sign-out-alt"></i>
                                </label>
                                <input hidden id="upload-file__input_output" type="submit" value="Выход"/>
                            </li>
                        </form>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Вход</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Регистрация</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
        
            
                @RenderBody()
            
        


@*<footer class="border-top footer text-muted">
            <div class="container">
                &copy;<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
